/* Start: Variables */
:root
{
    --main-green: #00b89f;
    --pink: #f513c8;
    --balck: #2a2a2a;
    scroll-behavior: smooth;
}

/* End: Variables */
/* Start: Classes liberary */
.top-0
{
    top:0;
}

.left-0
{
    left:0px;
}

.opacity-1
{
    opacity: 1;
}

.disappear-header
{
    top: -150px;
    opacity: 0;
}

.appear-header
{
    top: 0px;
    opacity: 1;
}

.transition-0-6
{
    transition-duration: 1.6s;
    transition-property: left;
}

.more-button
{
    position: absolute;
    bottom: 0px;
    margin: auto;
    background-color: white;
    border-width: 0px;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.more-button:hover
{
    background-color: #ececec;
}

.html-color
{
    color: #e5552c;
}

.css-color
{
    color: #254bdd;
}

.js-color
{
    color: #f9dc43;
}

.java-color
{
    color: #5886a4;
}

.python-color
{
    color: #1c2f7a;
}

.git-color
{
    color: #e84d31;
}
/* End: Classes liberary */
/* Start: General styles */
*
{
    padding: 0px;
    margin: 0px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
    color: var(--main-green);
}


a
{
    text-decoration: none;
}

a:visited
{
    color: #11e0c436;
}
/* End: General styles */

/* Start: Header style */
header
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    font-size: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    transition-duration: 1.6s;
    background-color: #ffffffd9;
}

header nav
{
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .home
{
    position: relative;
    min-width: 120px;
    min-height: 120px;
    display: block;
    align-items: center;
    margin-right: 15px ;
    transform-style: preserve-3d;
    border-radius: 100%;
    cursor: pointer;
    transition-duration: 1.6s;
}

header a
{
    margin-right: 20px;
}
header a.home:hover
{
    transform: rotateY(-180deg);
}

.icon-face, .icon-back
{
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 120px;
    min-height: 120px;
    backface-visibility: hidden;
    border-radius: 100%;
}

.icon-back
{
    transform: rotateY(180deg);
}

header img
{
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
    cursor: pointer;
    border-radius: 100%;
}

header nav div.menu
{
    min-width: 40px;
    max-height: 40px;
    position: relative;
    background-color: transparent;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    display: none;
}

header nav div.menu:hover > span
{
    background-color: var(--pink);
}

header nav div.menu span
{
    display: block;
    min-height: 3px;
    background-color: #0f8979;
    min-width: 100%;
    margin-bottom: 5px;
}
header nav ul
{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width: 70%;
    justify-content: flex-start;
    position: relative;
    left: 100px;
    transition-duration: 1.6s;    
}

header nav ul li
{
    margin-right: 20px;
    color: var(--main-green) !important;
}

header nav ul a
{
    font-weight: 700;
}

header nav ul a:hover
{
    color: var(--pink);
}

header nav ul span
{
    cursor: pointer;
    display: none !important;
}
header nav ul span:hover
{
    color: var(--pink);
}

#hire-me
{
    display: flex;
    align-items: center;
}

header button
{
    font-size: 20px;
    color: black;
    font-weight: 700;
    border: none;
    outline: none;
    width: 160px;
    height: 50px;
    background-color: var(--main-green);
    cursor: pointer;
    margin-left: 15px;
    position: relative;
    top: 100px;
    transition-duration: 1s;
    transition-property: top, opacity;
    opacity: 0;
    transition-delay: 0.2s;
}

header button:hover
{
    background-color: var(--pink);
}

@media (max-width: 700px)
{
    header nav ul
    {
        justify-content: center;
    }
}

@media (max-width: 444px) 
{
    header
    {
        height: 90px;
    }
    
    header img
    {
        min-width: 80px;
        min-height: 80px;
        max-width: 80px;
        max-height: 80px;
    }

    .icon-face, .icon-back
    {
        min-width: 80px;
        min-height: 80px;
    }

    header a.home
    {
        min-width: 80px;
        min-height: 80px;
        max-width: 80px;
        max-height: 80px;
    }

    header button
    {
        width: 100px;
        height: 50px;
    }

    header nav ul
    {
        align-items: center;
        left: 20px!important;
        justify-content: center;
    }

    

}

@media (max-width: 375px) 
{
    header nav ul
    {
        background-color: hsl(0, 0%, 0%);
        margin: 0px;
        padding: 20px;
        position: absolute;
        height: 100dvh;
        width: 100dvw;
        left: -0px !important;
        top:0px;
        z-index: 1;
        display: none;
        list-style-type: circle;
    }

    header nav ul li
    {
        text-align: center;
        margin: 0px;
        display: block;
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 5px var(--pink) solid;
    }

    header nav ul a
    {
        margin: 0px;
        color: #00b89f;
        font-size: 15px;
    }

    header nav div.menu
    {
        display: block;
    }

    header nav ul span
    {
        display: inline !important;
    }
}

/* End: Header style */
/* Start: Main section style */
section#home
{
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    /* Start: Test grid*/
    display: grid;
    grid-template-columns: 60% 40%;
    /* End: Test grid*/
    position: sticky;
    top: 0px;
    z-index: -1;
    /* overflow: hidden; */
}

#home div.slider
{
    left: 100px;
    transition-duration: 1s;
    transition-delay: 0.2s;
    z-index: -1;
    opacity: 0;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
}

#home div.slider, #home div.view
{
    height: 100%;
    position: relative;
}

#home div.view
{
    position: relative;
    z-index: -1;
    overflow: hidden;
    width: 100%;
}

div.filter
{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#home img
{
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0px;
    left:0px;
    transition-duration: 1.6s;
}

#home div.intro-container
{
    display:  flex;
    justify-content: center;
    align-items: center;
}
#home div.introduction
{
    position: relative;
    background-color: var(--main-green);
    width: 20%;
    height: 20%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition-duration: 0.6s; */
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity 0.6s linear 0.4s, width 0.6s linear 0s, height 0.6s linear 0s;
    /* transition-delay: 0.4s; */
}
#home div.introduction  div.scroll-down p
{
    text-align: center;
}
#home div.introduction p.icon
{
    text-align: center;
    font-size: 20px !important;
    font-weight: bold;
    position: relative;
    animation-name: up-down;
    animation-duration: 3s;
    top: 7px;
    animation-iteration-count: infinite;

}

#home div.introduction div.information
{
    width: 100%;
    padding: 10px;
    display: none;
    color: white;
    letter-spacing: 1px;
}

.informative-paragraph
{
    padding: 5px;
    background-color: #085a4f1a;
    font-size: 28px;
}

#home div.introduction div.social
{
    width: 100%;
    justify-content: center;
    font-size: 50px;
    position: relative;
    left: -100%;
    transition-duration: 0.6s;
    display: none;
}

#home div.introduction div.social li
{
    display: inline;
    cursor: pointer;
    margin-right: 30px;
    opacity: 0.8;
}

#home div.introduction div.social li a:hover
{
    color: var(--pink);
}


@keyframes up-down 
{
    0%
    {
        top: 7px;
    }
    50%
    {
        top: 20px;
    }
    100%
    {
        top: 7px;
    }
}

@media (max-width: 1160px)
{
    section#home
    {
        grid-template-columns: 70% 30%;
    }
}

@media (max-width: 1000px)
{
    section#home div.slider
    {
        display: none;
    }

    section#home
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    section#home div.intro-container
    {
        width: 100%;
        height: 100%; 
    }
}

@media (max-width: 700px) 
{
    .informative-paragraph
    {
        font-size: 22px;
    }    
}

@media (max-width: 470px) 
{
    .informative-paragraph
    {
        font-size: 16px;
    }    
}

@media (max-width: 340px) 
{
    #home div.introduction div.social li
    {
        margin-right: 16px;
    }    
}

/* End: Main section style */

/* Start: Skills section style  */
section#skills
{
    position: relative;
    top: 1000px;
    width: 100%;
    height: 100dvh;
    z-index: -1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


#skills .skill-card
{
    width: 24%;
    height: 300px;  
    cursor: pointer; 
    position: relative; 
    margin: 10px 5px;
}

#skills .skill-card:hover > .skill-info
{
    opacity: 0;
}

#skills .skill-card .skill-photo
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
}

#skills .skill-card .skill-photo svg
{
    width: 215px !important;
}

#skills .skill-card .skill-info
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    color: white;
    background-color: #5c9b92ed;
    font-size: 30px;
    transition-duration: 0.6s;
    transition-property: opacity;
    background: linear-gradient(204deg, rgba(179, 8, 153, 0.922) 32%, rgba(6, 189, 140, 0.845) 64%);
}

#skills .skill-card .skill-info p
{
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width: 900px) 
{
    #skills .skill-card .skill-photo
    {
        font-size: 150px;
    }
    
    #skills .skill-card .skill-photo svg
    {
        width: 155px !important;
    }
}

@media (max-width: 750px) 
{


    #skills .skill-card
    {
        min-width: 45%;
    }
    
}


@media (max-width: 400px) 
{


    #skills .skill-card
    {
        min-width: 90%;
    }
    
}

/* End: Skills section style  */

/* Start: Portfolio section style */
section#portfolio
{
    position: relative;
    height: 100dvh;
    background-color: #a2f1e7;
    top: 1000px;
    z-index: -1;
    padding: 10px;
}

section#portfolio > div.filter
{
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 100px;
    opacity: 1;
    position: relative;
}
section#portfolio div.filter div.drop-down
{
    position: relative;
    height: fit-content;
    width: 170px;
}
section#portfolio div.filter div.drop-down div.head
{
    padding: 10px;
    background-color: #ffffff;
    color: red;
    cursor: pointer;
}

section#portfolio div.filter div.drop-down div.head:hover + div.body
{
    display: block;
}

section#portfolio div.filter div.drop-down div.head p
{
    display: inline;
    margin-right: 10px;
}

section#portfolio div.filter div.drop-down div.head i
{
    position: absolute;
    right: 10px;
}

section#portfolio div.filter div.drop-down div.body
{
    background-color: white;
    padding: 10px;
    position: absolute;
    width: 100%;
    display: none;
    max-height: 200px;
    overflow: auto;
    opacity: 0.95;
}
section#portfolio div.filter div.drop-down div.body:hover
{
    display: block;
}
section#portfolio div.filter div.drop-down div.body ul
{
    list-style-type: none;
}

section#portfolio div.filter div.drop-down div.body ul li
{
    width: 100%;
    margin-bottom: 5px;
    padding: 2px;
    cursor: pointer;
}

section#portfolio div.filter div.drop-down div.body ul li:hover
{
    background-color: #00b89f24;
}


div.projects
{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100% - 100px);
}

div.projects div.project-card
{
    width: 316.3px;
    margin-right: 20px;
    cursor: pointer;
    transition-duration: 0.6s;
    margin-bottom: 30px;
    height: fit-content;
}

div.projects div.project-card:hover
{
    transform: scale(1.05, 1.05);
}

div.projects div.project-card div.photo
{
    width: 316.3px;
    height: 151.5px;
}

div.projects div.project-card div.photo img
{
    width: 100%;
    height: 100%;
}

div.projects div.project-card div.info
{
    position: relative;
    background-color: whitesmoke;
    padding: 5px;
    z-index: -1;
}

div.projects div.project-card div.info a.repo
{
    position: absolute;
    right: 5px;
    font-size: 25px;
    opacity: 0.3;
    transition-duration: 0.6s;
}

div.projects div.project-card div.info a.repo:hover
{
    opacity: 1;
}

div.projects div.project-card div.info p.name
{
    color: black;
}

div.projects div.project-card div.info p.discription
{
    color: #6d6d6d;
    font-weight: normal;
    font-size: 14px;
    text-overflow: ellipsis;
    width: 100%;
    height: 20px;
    padding: 2px;
    margin-top: 13px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.projects div.project-card div.info ul.skills-tags
{
    list-style: none;
    display: flex;
    font-size: 13px;
    margin-bottom: 5px;
}

div.projects div.project-card div.info ul.skills-tags li
{
    font-weight: normal !important;
    padding: 3px;
    border: 0px black solid;
    background-color: white;
    border-radius: 15px;
    margin-left: 5px;
    cursor: pointer;
    transition-duration: 0.6s;
}

div.projects div.project-card div.info ul.skills-tags li:hover
{
    background-color: #add8e633;
}

@media (max-width: 390px) {
    div.projects div.project-card
    {
        width: 270.3px;
        margin-right: 0px;
    }

    div.projects div.project-card div.photo
    {
        width: 270.3px;
        height: 129.5px;
    }
}

@media (max-width: 320px) {
    div.projects div.project-card
    {
        width: 220.3px;
    }

    div.projects div.project-card div.photo
    {
        width: 220.3px;
        height: 105.5px;
    }
}
/* End: Portfolio section style */

/* Start: Footer style */
footer
{
    padding: 20px;
    position: relative;
    top: 1000px;
    background-color: black;
    width: 100%;
    color: white;
}

footer hr
{
    margin: 10px 0px;
    width: 100%;
}
footer ul
{
    list-style-type: disclosure-closed;
    padding-left: 30px;
}

footer h2
{
    font-size: 20px;
    font-weight: 100;
}
footer a
{
    color: wheat;
}

footer a:hover
{
    color: rgb(225, 230, 223);
}

footer a:active
{
    color: rgb(255, 255, 255);
}

footer a:visited
{
    color:rgba(6, 189, 140, 0);
}
/* End: Footer style*/